/* Import the Roboto font family from Google Fonts */
@import url('https://fonts.google.com/specimen/Hanken+Grotesk');


/* Set the font family for your elements */


body {
  margin: 0;
  
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 500 700 800;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
